<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Login</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<script type="text/javascript"></script>
	</head>

	<!-- Body -->
	<body style="background-color: #ededed;">

		<p class="head"> BudgetUp</p>

		<div class="login-container">
				<div class="jumbotron jumbotron-login">
					<div class="header1">
							<div>Log In</div>
					</div>
					<br>
					<form>
            <div class="link1">
              <a href="#">Forgot Password?</a>
            </div>

            <div class="link2">
              <a href="signup.html">Create Account</a>
            </div>
						<div class="login">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Username" ng-model="username" ><br>
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Password" ng-model="password"><br>
							</div>
							<div class="form-group">
								<input type="button" value="Log In" ng-click="submit()" id="loginbtn" class="btn btn-primary btn-lg form-control"/>
							</div>
						</div>


					</form>
			</div>
			</div>
			</div>


		
	</body>

</html>
