<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<title>Sign Up</title>
<body class="signUp" style="background-color: #ededed;">
  <p class="head"> BudgetUp</p>

  <form name="signUpForm" novalidate>
    <div class="body-content">
      <div class="form-container">
        <p id="form-title" align="center" class="pdtp-3pc">Create Your Account</p>

        <!--  first name / last name -->
        <div class="row ">
          <div class= "col-md-6 pdtp-3pc">
            <input class="form-control" type="text" name="firstname" placeholder="First Name" ng-model="signUpObj.firstName" ng-required="true">
          </div>
          <div class= "col-md-6 pdtp-3pc">
            <input class="form-control" type="text" name="lastname" placeholder="Last Name" ng-model="signUpObj.lastName" ng-required="true">
          </div>
        </div>

      <div class="row pdtp-3pc">
        <div class= "col-md-6 form-group font">
          <i name="gender"> Gender: </i>
          <label for='male' class="radio-inline" style="margin-left: 9%;">
            <input type="radio" name="options" id="male" ng-model="signUpObj.gender" value="male" required> Male
          </label>
          <label for='female' class="radio-inline" style="margin-left: 9%;">
            <input type="radio" name="options" id="female"  ng-model="signUpObj.gender" value="female" required> Female
          </label>
          <label for='other' class="radio-inline" style="margin-left: 9%;">
            <input type="radio" name="options" id="other" ng-model="signUpObj.gender" value="other" required> Other
          </label>
        </div>


      <div class="c-both row form-group font pdtp-3pc" >
        <i style="font-family: sans-serif;margin-left:15px;">Date  of Birth: &nbsp;&nbsp;&nbsp;</i>
        <select class="dob " ng-model="signUpObj.dob.month" ng-required="true">
          <option value="" style="display: none;">Month</option>
          <option ng-repeat="month in dobValues.months" ng-value="month.value">{{month.month}}</option>
        </select>
        <select class="dob" ng-model="signUpObj.dob.day" ng-required="true">
          <option value="" style="display: none;">Day</option>
          <option ng-repeat="day in dobValues.days" ng-value="day.value">{{day.day}}</option>
        </select>
        <select class="dob" ng-model="signUpObj.dob.year" ng-required="true">
          <option value="" style="display: none;">Year</option>
          <option ng-repeat="year in dobValues.years" ng-value="year.value">{{year.year}}</option>
        </select>
      </div>

      <div class="row">
        <div class= "col-md-6 pdtp-3pc">
          <input class="form-control" type="email" name="email" placeholder="Email">

        </div>

        <div class= "col-md-6 pdtp-3pc">
          <input class="form-control" type="text" name="PhoneNumber" placeholder="Phone Number">
        </div>
      </div>

      <div class="row ">
        <div class= "col-md-6 pdtp-3pc">
          <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class= "col-md-6 pdtp-3pc">
          <input class="form-control" type="password" name="passwordConfirmation" placeholder="Password Confirmation">
        </div>
      </div>

  
   <div align="center" class="pdtp-3pc">
      <button type="button" class="btn btn-default" id="signupbtn">Sign Up</button>
      <br><br>
    </div>
    </div>
  </div>
  </form>
</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</html>
