/********************************/
/** Fonts **/
/********************************/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Calibri');

/********************************/
/** Global common css **/
/********************************/
.head{                
    padding: 10px 20px 15px 90px;
    background-color: #4277FC;
    color: white;
    margin-bottom: 20px;
    font-size: 230%;
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
}

input:focus::-webkit-input-placeholder { color:transparent !important; }
input:focus:-moz-placeholder { color:transparent !important; }

/********************************/
/** login.html **/
/********************************/
.jumbotron-login{
  margin-top: 120px;
  background-color: #fff;
}

.login-container{
  width: 55%;
  height: 50%;
  background-color: #ededed;
  margin: 0 auto;
  padding: 1px 40px;
  margin-top: -1%;
}


#loginbtn{           
  width: 200px;
  height: 40px;
  background: #1AB2BC;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 6px;
  margin-top: -10px;
  margin-left: 56%;
  text-align: center;
}

/*Log In*/
.header1 div{
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  background-color: #1AB2BC;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  padding: 10px 0px;
  top: -65px;
  text-align: center;
}
.link1 > a{
  position: relative;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  top: 180px;
  left: 140px;
  color: #05b5ba;
  color: #05b5ba; 
  text-decoration: none;
}

.link2 > a{
  position: relative;
  font-family: 'Roboto', sans-serif;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  top: 161.5px;
  left: 520px;
  color: #555555;
  color: #555555; 
  text-decoration: none;
}

/*Username, Password, Log In Boxes together*/
.login{
  position: relative;
  top: -20px;
  left: calc(50% - 300px);
  height: 150px;
  width: 350px;
  padding: 10px;
  text-align: center;
}

.login input::placeholder, .login input{
  color: #fff;
}

/*Username*/
.login input[type=text]{
  width: 580px;
  height: 45px;
  background: #b7b7b7;
  border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  padding: 3px;
  margin-top: -70px;
  text-align: center;
}

/*Password*/
.login input[type=password]{
  width: 580px;
  height: 45px;
  background: #b7b7b7;
  border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  padding: 3px;
  margin-top: 10px;
  text-align: center;
}

/*******************************/
/** Signup.html **/
/*******************************/
.signUp input::placeholder, .signUp input{
  color: #fff !important;
  font-size: 20px !important;
  font-style: italic !important;
  font-family: arial !important;
  border-radius: 0px !important;
}

.signUp input{
  text-indent: 5px !important;
}


.form-container{
  width: 80%;
  height: auto;
  background-color: #fff;
  margin:0 auto;
  padding: 1px 90px;
  background-color: #fff;
}


/* create your account - title */
#form-title{
  font-size: 25px;
  font-weight: bold;
  font-family: arial;
  color: #05b5ba;
  font-style: normal;
}


/* input fields */
  input:not([type=radio]), select{
  height: 40px;
  background: #b7b7b7;
}

/* text font */
.font {
font-size: 16px;
}

/* dropdown style */
#drop-down{
  background: #b7b7b7;
  color: #fff;
  border-radius: 0px; 
  padding-left: 10px;
  font-size: 20px;
  font-style: italic;
  font-family: arial;
  height: 45px;
}

.c-both{
  clear: both;
}

/*DOB dropdown style */
.dob{
  font-style: italic;
  color: #fff;
  font-size: 20px;
 }

/* padding */
.pdtp-3pc{            
  padding-top: 3%;
}


/*  signUp button */
#signupbtn{           
    width: 25%;
    font-size: 25px;
    font-weight: bold;
    background: #05b5ba;
    border: 1px solid #c6c6c6;
    border-radius: 0px;
    padding: 5px;
    color: #fff;
}

/********************************/
/** dash.html **/
/********************************/
.dashboard table.space{
border-collapse: separate;
border-spacing: 15px;
}
.dashboard a {color:#05b5ba;}      /* unvisited link */
.dashboard a:visited {color:#05b5ba;}  /* visited link */
.dashboard a:hover {color:#05b5ba;}  /* mouse over link */
.dashboard a:active {color:#05b5ba;}  /* selected link */
.dashboard tr{
  height: 80px;
  width: 20px;
}
.dashboard table{
  border-collapse: collapse;
}
.dashboard table, td, th {
border: 8px solid #ededed;
}
.dashboard .left-menu {
padding:20px 50px 50px 30px;
}


.menu-item ,.progress-menu {
background-color: white;
margin: 2px;
width: 480px;
padding: 8px 0px 0px 15px;
}

.menu-item {
height: 33px;
}
.Carousel-menu {
height: 60px;
}
.progress-menu {
height: 48px;
}

.right-menu{
width: 300px;
}

.subhead{
background: black;
background-color: #1AB2BC;
color: white;
font-size: 150%;
font-family: 'Roboto', sans-serif;
text-align :left;
}

.subhead-width{
width: 482px;
height: 65px;
padding: 10px 30px 10px 15px;
}

.myAccount-pos{
  position: absolute;
  top: 20px;
  left: 1135px;
}


.myBudgeting{
  position: absolute;
  top: 1px;
  left: 535px;
  width: 73%;
}

#head-button{
  width: 100px;
  height: 20px;
  background: #61A3F8;
  border: 1px ;
  cursor: pointer;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: 0px;
  text-align: center;
  border-radius: 8px;
  float: right;
 }

/*------------*/
/* CALENDAR */
/*------------*/
 ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding: 30px 25px;
    width: 50%;
    background: #1AB2BC;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays  */
.weekdays {
    margin: 0;
    padding: 10px 0;
    width: 50%;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    width: 50%;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1AB2BC;
    color: white !important
}


/*********************************/
/*  FAQ */
/*********************************/
.jumbotron-faq{
  margin-top: 100px;
  background-color: #fff;
  height: 400px;
}

.faq-container{
  width: 55%;
  height: 50%;
  background-color: #ededed;
  margin: 0 auto;
  padding: 1px 40px;
  margin-top: -1%;
}

.faq{
  position: relative;
  top: -390px;
  left: calc(50% - 350px);
  width: 95%;
  padding: 10px;
  text-align: left;
}



/*********************************/
/*  budget0.html */
/*********************************/
.jumbotron-budget0{
  margin-top: 100px;
  background-color: #fff;
  height: 300px;
}

.budget0-container{
  width: 55%;
  height: 50%;
  background-color: #ededed;
  margin: 0 auto;
  padding: 1px 40px;
  margin-top: -1%;
}

.planChoice{
  position: relative;
  top: -390px;
  left: calc(50% - 350px);
  width: 95%;
  padding: 10px;
  text-align: left;
}

#rolloverbtn{           
  width: 200px;
  height: 100px;
  background: #1AB2BC;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 6px;
  text-align: center;
  margin-left:40px;
  margin-top:10px;
  padding-top:35px;
}

#custombtn{           
  width: 200px;
  height: 100px;
  background: #1AB2BC;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 6px;
  text-align: center;
  margin-top: -122px;
  margin-left: 435px;
  padding-top:35px;
}

/*********************************/
/*  budget1.html: basic rollover */
/*********************************/
.jumbotron-budget1{
  margin-top: 100px;
  margin-left: -200px;
  margin-right: 100px;
  background-color: #fff;
  height: 400px;
}

.budget1-container{
  width: 55%;
  height: 50%;
  background-color: #ededed;
  margin: 0 auto;
  padding: 1px 40px;
  margin-top: -1%;
}

.budget1{
  position: relative;
  top: -390px;
  left: calc(50% - 550px);
  width: 95%;
  padding: 10px;
  text-align: left;
}

#computebtn1{           
  width: 200px;
  height: 40px;
  background: #1AB2BC;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 6px;
  margin-top: 150px;
  margin-left: 40%;
}



/*********************************/
/*  budget2.html: custom plan */
/*********************************/
.jumbotron-budget2{
  margin-top: 100px;
  margin-left: -200px;
  margin-right: 100px;
  background-color: #fff;
  height: 400px;
}

.budget2-container{
  width: 55%;
  height: 50%;
  background-color: #ededed;
  margin: 0 auto;
  padding: 1px 40px;
  margin-top: -1%;
}

.budget2{
  position: relative;
  top: -390px;
  left: calc(50% - 550px);
  width: 95%;
  padding: 10px;
  text-align: left;
}

#computebtn2{           
  width: 200px;
  height: 40px;
  background: #1AB2BC;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 6px;
  margin-top: 20px;
  margin-left: 40%;
}